[user]
    name = Jared Ledvina
    email = jared@techsmix.net
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAAIQff+o6cS70+bpt8f2wrqmTKqojIeBEjXnL8XfJOb
[commit]
    gpgsign = true
[core]
    symlinks = true
    excludesfile = ~/.gitignore_global
    editor = vim
[alias]
    st = status
    c = commit -s
    ca = commit -a
    cm = commit -s -m
    cms = commit -s -S -m
    cam = commit -s -am
    br = branch
    ls = branch
    co = checkout
    cd = checkout
    df = diff
    p = push
    g = log --graph --pretty=format:'%Cred%h%Creset - %G? -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    h = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline
    this = !git init && git add . && git commit -s -m \"initial commit\"
    amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -s -F - -a --amend
    r = !git ls-files -z --deleted | xargs -0 git rm
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 => \\2/' | sort
    diff = diff --check
    root = rev-parse --show-toplevel
    yolo = !git commit -s -am \"`curl -s http://whatthecommit.com/index.txt`\"
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[pull]
    rebase = true
[tag]
    forceSignAnnotated = true
[include]
    path = ~/.gitconfig.d/local
[init]
    defaultBranch = main
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
